*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    background-color: rgb(16, 16, 16);
    height:75px;
  }
  .logo{
    position: absolute;
    height:8%;
    width: 15%;
    top:1%;
    left:3%;
  }
  .navbar li{
   
    float:left;
    left:50%;
    list-style: none; 
    margin: 20px 20px;
    font-size: 20px;
}
.navbar ul{
    float: right;
    overflow: auto;
}
.navbar li a{
    font-family: "Open Sans",sans-serif;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    
}
.navbar li a:hover{
    color:black;
    font-weight: bold;
    background-color: white;
    
}
*{
    padding: 0;
    margin: 0;

}
body{
    box-sizing: inherit;


}
div{
    display: block;
    
}
.main_container{
    box-shadow: 10px 10px 10px 10px whitesmoke;
    border-radius: 1.5cm;
     margin-top: 35px;
     margin-left: 20%;
     margin-right: 20%;
     height: 451px;

}

h1{
    text-align: center;
    margin-bottom: 12px;
}
.img{
    display: block;
    margin-top: 20px;
    padding-top: 30px;
    text-align: center;
}
button:hover{
    opacity: 0.6;
}
button{
    margin-top: 4px;
    height: 45px;
    width: 45%;
    color: black;
    font-size: larger;
    font-weight: 500;
    background-color: white;
    border-color: black;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    margin-left: 28%;
    margin-bottom: 6px;
    transition: all 0.1s ease;
}
img{
    border-radius: 20%;
   margin-top: 22px;
}